<section>
    <h3>Interpolação</h3>

    <p>Nome: {{nome}}</p>
    <P>1 + 1 é igual {{1 + 1}}</P>
    <p>1 + 1 não é igual a {{1 + 1 + getValor()}}</p>

    <h3>Propriety Blinding</h3>

    <img [src]="url" [width]="tamanho">

    <p [hidden]="esconderText">Isso é um teste</p>
    <p [hidden]="!esconderText">Mais um teste</p>

    <button (click)="clique()">Clique aqui</button>

    <br>
    <input type="text" (keyup)="onKeyUp($event)">
    <p>Valor Digitado: {{valorDigitado}}</p>

    <br>
    <span (mouseover)="onMouseOver()"
          (mouseout)="onMouseOut">Passe o Mouse</span>
    <p>Status do Mouse: {{isMouseOver}}</p>

    <h3>Two Way Data Binding</h3>
      <input type="text" [(ngModel)]="nome">
      <br>
      <p>Nome: {{nome}}</p>


  </section>
