<!DOCTYPE html>
<html>
<body>
<article class="produtos">
    <hr>
    <h5>Bebedouro e Comedouro</h5>
    <p>Bebedouro e Comedouro disponível nos tamanhos P,M e G, apenas na cor rosa.</p>
        <img src="https://i.pinimg.com/564x/cf/7d/ec/cf7dec2c167bab1459473d8f7536dbf9.jpg">

  </article>
<hr>
<article class="produtos">
    <h5>Brinquedos Sortidos</h5>
    <p>Kit composto por três brinquedos de borracha sortidos.</p>
        <img src="https://i.pinimg.com/564x/35/53/65/355365247fb046f449ebdb5bd50ae944.jpg">

</article>
<hr>
<article class="produtos">
    <h5>Coleira</h5>
    <p>Coleira com peitoral. Disponível no tamanho P, M e G.</p>
        <img src="https://i.pinimg.com/564x/f9/bb/29/f9bb29d2ee80bdf923530f9bb11c3365.jpg">

</article>
<hr>
<article class="produtos">
    <h5>Shampoo branqueador de pelos</h5>
    <p>Shampoo branqueador e hidratante de pelos. Disponível na versão mini: 472ml e a versão galão de 3 Litros.</p>
        <img src="https://i.pinimg.com/564x/a5/bc/c5/a5bcc5d327f0ac3068c928b5cbd81305.jpg">
</article>
<hr>
<article class="produtos">
    <h5>Rasqueadeira</h5>
    <p>Rasqueadeira P, M e G</p>
        <img src="https://i.pinimg.com/564x/5a/ea/47/5aea47a8f7c5423c9cc1e725dee68829.jpg">
</article>
<table width="300">
    <caption>TABELA COM PREÇOS</caption>
        <tr>
            <th>Produto</th>
            <th>Preço</th>
        </tr>
        <tr>
            <td rowspan='3'>Bebedouro e Comedouro</td>
            <td>P-R$20,00</td>
        </tr>
        <tr>
            <td>M-R$40,00</td>
        </tr>
        <tr>
            <td>G-R$50,00</td>
        </tr>
    <tr>
        <td>Binquedos Sortidos</td>
        <td>R$9,00</td>
    </tr>
    <tr>
        <td rowspan='3'>Coleira</td>
        <td>P-R$25,00</td>
    </tr>
    <tr>
        <td>M-R$35,00</td>
    </tr>
    <tr>
        <td>G-R$45,00</td>
    </tr>
    <tr>
      <td>Shampoo</td>
      <td>P-R$15,00</td>
      <td>G-R$90,00</td>
    </tr>
    <tr>
     <td>Rasqueadeira</td>
     <td>P-R$10,00</td>
    </tr>
    <tr>
    <td>M-R$15,00</td>
    </tr>
    <tr>
     <td>G-R$20,00</td>
    </tr>
</table>

</body>
</html>
