<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Nossas Redes Sociais!</h5>
        <p class="grey-text text-lighten-4">Entre em contato com a gente através das nossas redes sociais ou por nosso email e fone!</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://pt-br.facebook.com/">Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/">Instagram</a></li>
          <li><a class="grey-text text-lighten-3" href="https://twitter.com/">Twitter</a></li>
          <li><a class="grey-text text-lighten-3" href="https://www.whatsapp.com/?lang=pt_br">Whatsapp</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2023 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">Feito por Laíse Fernanda Holovaty - IFSC RAU </a>
    </div>
  </div>
</footer>
