<!DOCTYPE html>
<html>
<body>
<body>
  <form>
    <div class="mb-3">
      <label for="nome" class="form-label"><h5>Nome</h5></label>
      <textarea type="text" class="form-control" id="nome" ></textarea>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label"><h5>Email</h5></label>
      <textarea type="email" class="form-control" id="email"></textarea>
    </div>
    <div class="mb-3">
      <label for="telefone" class="form-label"><h5>Telefone</h5></label>
      <textarea type="number" class="form-control" id="telefone"></textarea>
    </div>
    <div class="mb-3 form-check">
    </div>s
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label"><h5>Escreva seu pedido aqui</h5></label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
</body>
