.site-header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}
  h1 {
    font-size: 1.5rem;
  }

  a {
    text-decoration: none;
    color: black;
  }

  ul {
    margin: 0;
  }

  li {
    display: inline-block;
    margin: 1em 1em 1em 1em;
  }

