<!DOCTYPE html>
<html>
    <body>
        <article>
            <h2>Pink Pet Store</h2>
            <p class="cores">Nossa loja, Pink Pet Store, trabalha com os melhores produtos que você pode oferecer ao seu pet!</p>
                <div id="menu" ><img src="https://i.pinimg.com/564x/c2/ef/13/c2ef133c8396ae1cd6315fac14d0de8a.jpg"></div>
        </article>
        <article>
            <h3>Como nossa empresa surgiu?</h3>
            <p>Nossa empresa foi criada para facilitar a compra de produtos de alta qualidade para seu pet!</p>
            <div>
                <img src="https://i.pinimg.com/564x/7a/9c/d9/7a9cd98386aa096d236d3a6ecf0f6b55.jpg">
            </div>
        </article>
    <hr>
</body>
</html>
